/* Geral*/
body {
  background-color: #C70039;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  width: 900x;
  height: 172px;
  color: #000;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 400;
}

.botaoGeral {
  width: 30%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 90%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* Home*/
#logoIndex {
  width: 509.6px;
  height: 120.4px;
  margin: 0 auto;
  display: block;
  flex-shrink: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.boxIndex {
  width: 941px;
  height: 451px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 50px;
  background: #fff5e0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#h1Home {
  margin-top: 10px;
  text-align: center;
  line-height: normal;
}

.botaoHome {
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Cadastrar {
  width: 243px;
  height: 83px;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #ffffff;
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  align-items: center;
  cursor: pointer;
}

#Cadastrar:hover {
  transition: 700ms;
  padding: 10px 10px;
  transform: translateY(-10px);
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  color: #ffffff;
  border: solid 3px #e76f51;
}

#Encontrar {
  width: 244px;
  height: 83px;
  flex-shrink: 0;
  margin-left: 60px;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  color: #ffffff;
  background: linear-gradient(90deg, #435086 0%, #141e46 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  align-items: center;
  cursor: pointer;
}

#Encontrar:hover {
  transition: 700ms;
  padding: 10px 10px;
  transform: translateY(-10px);
  background: linear-gradient(90deg, #435086 0%, #141e46 100%);
  color: #ffffff;
  border: solid 3px #435086;
}

/*add date*/
#logoNormal {
  padding-top: 0.2em;
  width: 10em;
  position: absolute;
  top: 0;
  left: 2em;
}

.boxAdd {
  width: 23em;
  height: 25.3em;
  border-radius: 9%;
  background: #FFF5E0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: auto;
  margin-top: 1em;
}

#h1CadDate {
  padding-top: 5%;
  text-align: center;
  margin-left: 10px;
}

.labelDate {
  color: #000;
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 640;
  padding-left: 2em;
}


.radioGroup {
  display: flex;
  align-items: center;
  color: #000;
  padding-left: 1em;
  gap: 5px;

}


#formDateT {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

}

input {
  border-radius: 50px;
  background-color: #FFF;
  border-color: white;
  font-family: Inter;
  font-size: 90%;
  width: 79%;
  height: 1em;
  padding: 10px;
  margin-left: 2%;

}

.tableForm {
  position: absolute;
  top: 7.5em;
}

#cadastrarDate {
  margin-top: 22em;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #ffffff;
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  padding: 10px 10px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  align-items: center;
  cursor: pointer;
}


#cadastrarDate:hover {
  transition: 700ms;
  padding: 10px 10px;
  transform: translateY(-10px);
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  color: #ffffff;
  border: solid 3px #e76f51;
}

/*list date*/

.boxList {
  width: 50em;
  height: 50em;
  border-radius: 1%;
  background: #ffffff;
  margin: auto;
  margin-top: 3em;
  overflow-y: auto;
  /* rolagem vertical quando necessário */

}

#box-h1-btn-add {
  background-color: #f8f7f7;
  display: flex;
  align-items: center;

}

.h2List {
  margin-top: 0px;
  padding-top: 1em;
  text-align: left;
  margin-left: 10px;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin-left: 1em;
}

#btnNewDate {
  width: 10em;
  height: 2.5em;
  margin-left: 800px;
  margin-top: 2.5em;
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
}

#btnNewDate:hover {
  transform: translateY(-5px);
  background: linear-gradient(149deg, #d62828 0%, #ff6969 100%);
  color: #ffffff;
  border: solid 2px #d62828;

}

#linkAdd {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #ffffff;
}

#box-filtro {
  background-color: #f8f7f7;
  display: flex;
  align-items: center;
}

#box-filtro img {
  width: 22px;
  height: 22px;
  top: 1px;
  margin-left: 30px;
  margin-bottom: 10px;

}

#filtro {
  margin-left: 1em;
  font-size: 15px;
  width: 10em;
  height: 0.5em;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;


}

th {
  color: #ffffff;
}


td {
  color: #000;
}

.tableList {
  width: 50em;
  border-collapse: collapse;
}

.tableList th,
.tableList td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.tableList th {
  background-color: #C70039;
}

.botaoList {
  background-color: #ffffff;
  color: #C70039;
  border: none;
  padding: 5px 12px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 500ms;
  transform: translateY(0);
}

.botaoList img {
  width: 20px;
  height: 20px;
}

.botaoList:hover {
  transform: translateY(-5px);
  background-color: #f3efef;
}

.tableList td button {
  display: inline;
  margin-bottom: 5px;
}

/* Estilos para Modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;

}

.ReactModal__Content {
  margin-top: 6%;
  margin-left: 30%;
  width: 550px;
  height: 450px;
  max-width: 95%;
  max-height: 95%;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

#h2Modal{
  text-align: center;
  font-size: 25px;
  color: #C70039;

}

.tbModal {
  display: flex;
  flex-direction: column;
}

.tbModalRow {
  display: flex;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-size: 20px;
}

.tbModalTitle {
  font-weight: bold;
  margin-right: 10px;
}
.btnCloseModal{
  width: 11em;
  height: 2.5em;
  margin-left: 13em;
  margin-top: 2em;
  font-size: 15px;
  background: linear-gradient(90deg, #d62828 0%, #ff6969 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  color: #fff;
}

.btnCloseModal:hover {
  transform: translateY(-5px);
  background: linear-gradient(149deg, #d62828 0%, #ff4848 100%);
  color: #ffffff;
  border: solid 2px #d62828;


}